rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {

    function signedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return signedIn()
        && (
          request.auth.token.email == "hamidocan0411@gmail.com"
          ||
          (
            firestore.exists(
              /databases/(default)/documents/users/$(request.auth.uid)
            )
            &&
            firestore.get(
              /databases/(default)/documents/users/$(request.auth.uid)
            ).data.role == "admin"
          )
        );
    }

    match /delivery-proofs/{orderId}/{fileName} {
      allow read: if signedIn();

      allow create, update:
        if signedIn()
        && request.resource.size <= 10 * 1024 * 1024
        && request.resource.contentType.matches('image/.*');

      allow delete: if isAdmin();
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}